@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import "tailwindcss";

*{
  font-family: "Inter", sans-serif;
}

::-webkit-scrollbar{
  display: none;
}




body {
  letter-spacing: var(--tracking-normal);
}